.card > div {
  background-color: var(--blue-transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 30px;
  gap: 17px;
}
